@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 21, 21, 24;
  --background-end-rgb: 21, 21, 24;
  --color-bg1: rgb(21, 21, 24);
  --color-bg2: rgb(21, 21, 24);
  --color1: 255, 53, 155;
  --color2: 255, 253, 135;
  --color3: 0, 210, 255;
  --color4: 93, 149, 111;
  --color5: 255, 225, 191;
  --color-interactive: 45, 33, 65;
  --circle-size: 80%;
  --blending: hard-light;
  --reflection-color: hsla(48, 30%, 95%, 0.2);
}

@media (min-width: 1376px) {
  .left-container {
    width: 20%;
  }
  .main-container {
    width: 51%;
  }
  .right-container {
    width: 29%;
  }
  .side-button {
    padding-left: 1.75vw;
  }
  .recommendations {
    width: 25%;
  }
  .sidebar {
    margin-left: 2vw;
  }
  .right {
    padding-left: 2.4vw;
  }
  .modal-post {
    width: 51%;
  }
}

@media (max-width: 1375px) {
  .left-container {
    width: 18%;
  }
  .main-container {
    width: 51%;
  }
  .right-container {
    width: 31%;
  }
  .side-button {
    padding-left: 1.55vw;
  }
  .sidebar {
    margin-left: 1.6vw;
  }
  .right {
    padding-left: 2.4vw;
  }
  .modal-post {
    width: 51%;
  }
}

@media (max-width: 1100px) {
  .left-container {
    width: 60px;
  }
  .main-container {
    width: 60%;
  }
  .right-container {
    width: 34%;
  }
  .right {
    padding-left: 2.4vw;
  }
  .modal-post {
    width: 65%;
  }
}

@media (max-width: 962px) {
  .left-container {
    width: 60px;
  }
  .main-container {
    width: 760px;
  }
  .right-container {
    width: 0;
  }
  .modal-post {
    width: 640px;
  }
}

@media (max-width: 820px) {
  .left-container {
    width: 60px;
  }
  .main-container {
    display: flex;
    flex: 1;
  }
  .right-container {
    width: 0;
  }
  .modal-post {
    display: flex;
    flex: 1;
  }
  .modal-post-container {
    margin-left: 60px;
  }
}

@media (max-width: 658px) {
  .left-container {
    width: 60px;
  }
  .main-container {
    display: flex;
    flex: 1;
    margin-left: 60px;
  }
  .right-container {
    width: 0;
  }
  .modal-post {
    display: flex;
    flex: 1;
  }
  .modal-post-container {
    margin-left: 60px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 21, 21, 24;
    --background-end-rgb: 21, 21, 24;
    --color-bg1: rgb(21, 21, 24);
    --color-bg2: rgb(21, 21, 24);
    --color1: 255, 53, 155;
    --color2: 255, 253, 135;
    --color3: 0, 210, 255;
    --color4: 93, 149, 111;
    --color5: 255, 225, 191;
    --color-interactive: 152, 80, 110;
    --circle-size: 80%;
    --blending: hard-light;
    --reflection-color: hsla(48, 30%, 95%, 0.2);
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-start-rgb));
}

.interactive-sidebar {
  transition: all 0.2s ease-in-out;
}

.toggle-container {
  width: 29px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  border-radius: 50px;
  padding: 3px;
  cursor: pointer;
}

.toggle-container[data-ison="true"] {
  justify-content: flex-start;
}

.noscroll {
  overflow: hidden;
  padding-right: 1.55vw;
}

.backgroundblur-25 {
  -webkit-backdrop-filter: blur(25px);
  backdrop-filter: blur(25px);
}
.backgroundblur-10 {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
.backgroundblur-5 {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.hidescrollbar {
  ::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  /* Hide scrollbar in Firefox */
  scrollbar-width: none;

  /* Hide scrollbar in Edge */
  -ms-overflow-style: none;
}

.box-shadow {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.glass-container {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.glass-container-2 {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.glass-container-3 {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  box-shadow: inset 0 0 0 0.5px rgba(255, 255, 255, 0.2);
}

/*Only right border (for sidebar)*/
.glass-container-4 {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
}

.glass-input {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-right: 1px solid rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  /*box-shadow: 1 5px 15px rgba(0, 0, 0, 0.05);*/
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.nav-button {
  opacity: 0.5;
}

.placeholderColor::placeholder {
  opacity: 0.5;
  font-weight: 300;
  color: white;
}

.nav-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
}

.hoverable:hover {
  background-color: rgba(255, 255, 255, 0.05);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.hoverable2:hover {
  background-color: rgba(255, 255, 255, 0.15);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.active {
  opacity: 1;
}

.navlink:hover {
  opacity: 0.7;
  transition: all 0.2s ease-in-out;
}

/* Reflection shapes */
.button__reflection-1,
.button__reflection-2 {
  width: 8px;
  height: 120px;
  background-color: var(--reflection-color);
  rotate: 30deg;
  position: absolute;
  inset: 0;
  top: 0;
  left: -200%;
  margin: auto;
  transition: left 0.6s cubic-bezier(0.2, 0.5, 0.2, 1.2);
}

.button__reflection-1::after {
  content: "";
  width: 26px;
  height: 100%;
  background-color: var(--reflection-color);
  position: absolute;
  top: -1rem;
  left: 1.25rem;
}

.button__reflection-2::after {
  content: "";
  width: 40px;
  height: 100%;
  background-color: var(--reflection-color);
  position: absolute;
  top: -1rem;
  left: 0.8rem;
}

.contact-button img {
  position: absolute;
  opacity: 0;
  transition: transform 0.5s, opacity 0.5s;
}

.button__star-1 {
  width: 4em;
  top: -14px;
  left: -16px;
  transform: rotate(10deg) scale(0.1);
}

.button__star-2 {
  width: 3em;
  right: -20px;
  top: -4px;
  transform: rotate(-48deg) scale(0.1);
}

.button__circle-1,
.button__circle-2 {
  width: 1em;
}

.button__circle-1 {
  top: 8px;
  left: 58px;
  transform: scale(0.1);
}

.button__circle-2 {
  right: 34px;
  bottom: -8px;
  transform: scale(0.1);
}

.button__diamond {
  width: 2em;
  top: -10px;
  right: 62px;
  transform: scale(0.1);
}

.button__triangle {
  width: 2em;
  left: 2px;
  bottom: -16px;
  transform: rotate(-48deg) scale(0.1);
}

.contact-button:hover .button__reflection-1 {
  left: 120%;
}

.contact-button:hover .button__reflection-2 {
  left: -70%;
}

.contact-button:hover {
  transform: rotate(-4deg) scale(1.1);
  transition: all 0.2s ease-in-out;
}

.contact-button:hover button {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(16, 91, 32, 0.4);
  border-bottom: 1px solid rgba(16, 91, 32, 0.4);
}

.contact-button:hover img {
  opacity: 1;
}

.contact-button:hover .button__star-1 {
  transform: scale(0.3);
  transition-delay: 0.1s;
}

.contact-button:hover .button__star-2 {
  transform: scale(0.3);
}

.contact-button:hover .button__circle-1 {
  transform: translateY(-8px) scale(0.3);
  transition-delay: 0.1s;
}

.contact-button:hover .button__circle-2 {
  transform: translate(10px, -4px) scale(0.3);
}

.contact-button:hover .button__diamond {
  transform: translateY(7px) rotate(-24deg) scale(0.3);
}

.contact-button:hover .button__triangle {
  transform: rotate(-12deg) scale(0.3);
}

/*.contact-button-container {
  filter: url(#goo);
}

.contact-button {
  background: none;
  border: none;
  padding: 0;
  transition: 0.5s;
  position: relative;
}

.contact-button span {
  display: block;
  width: 0.77em;
  height: 100%;
  top: 50%;
  transform: translate(0, -50%);
  position: absolute;
  background-color: #5d956f;
  transition: 0.7s cubic-bezier(0, 2, 0.7, 2);
}

.contact-button:hover span {
  height: 120%;
  transition: 0.4s;
}

.contact-button span:nth-child(1) {
  transition-delay: 0.25s;
  left: 0;
}
.contact-button span:nth-child(2) {
  transition-delay: 0.2s;
  left: 0.77em;
}
.contact-button span:nth-child(3) {
  transition-delay: 0.15s;
  left: 1.54em;
}
.contact-button span:nth-child(4) {
  transition-delay: 0.1s;
  left: 2.31em;
}
.contact-button span:nth-child(5) {
  transition-delay: 0.05s;
  left: 3.08em;
}
.contact-button span:nth-child(6) {
  transition-delay: 0s;
  left: 3.85em;
}
.contact-button span:nth-child(7) {
  transition-delay: 0.05s;
  left: 4.62em;
}
.contact-button span:nth-child(8) {
  transition-delay: 0.1s;
  left: 5.39em;
}
.contact-button span:nth-child(9) {
  transition-delay: 0.15s;
  left: 6.16em;
}
.contact-button span:nth-child(10) {
  transition-delay: 0.2s;
  left: 6.93em;
}
.contact-button span:nth-child(11) {
  transition-delay: 0.25s;
  left: 7.7em;
}*/

/*@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }
  50% {
    transform: translateX(50%) translateY(10%);
  }
  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}

.gradient-bg {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  top: 0;
  left: 0;

  svg {
    display: none;
  }

  .gradients-container {
    filter: url(#goo) blur(40px);
    width: 100%;
    height: 100%;
  }

  .g1 {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color1), 0.8) 0,
        rgba(var(--color1), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: center center;
    animation: moveVertical 30s ease infinite;
  }

  .g2 {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color2), 0.8) 0,
        rgba(var(--color2), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: calc(50% - 400px);
    animation: moveInCircle 20s reverse infinite;
  }

  .g3 {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color3), 0.8) 0,
        rgba(var(--color3), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2 + 200px);
    left: calc(50% - var(--circle-size) / 2 - 500px);

    transform-origin: calc(50% + 400px);
    animation: moveInCircle 40s linear infinite;
  }

  .g4 {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color4), 0.8) 0,
        rgba(var(--color4), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: calc(50% - 200px);
    animation: moveHorizontal 40s ease infinite;
  }

  .g5 {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color5), 0.8) 0,
        rgba(var(--color5), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blending);

    width: calc(var(--circle-size) * 2);
    height: calc(var(--circle-size) * 2);
    top: calc(50% - var(--circle-size));
    left: calc(50% - var(--circle-size));

    transform-origin: calc(50% - 800px) calc(50% + 200px);
    animation: moveInCircle 20s ease infinite;
  }

  .interactive {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color-interactive), 0.8) 0,
        rgba(var(--color-interactive), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blending);

    width: 100%;
    height: 100%;
    top: -50%;
    left: -50%;
  }
}*/
