.glass1 {
  background: rgba(255, 255, 255, 0.5);
}

.black-gradient-text {
  font-size: 2em;
  font-weight: bold;
  background: linear-gradient(to bottom, white, black);
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

/* Glowing Element */
.element1 {
  outline: 1px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 0.1);
  border-top: 1px solid #878787;
  box-shadow: 0 0 1em rgba(255, 255, 255, 0.2);
  position: relative;
  backdrop-filter: blur(1em);
  -webkit-backdrop-filter: blur(1em);
}

.elementHighlight {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  top: 0;
  z-index: -1;
}
